<div id="controller">
	<button type="button" class="btn btn-default btn-lg" ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span></button>
	<button type="button" class="btn btn-default btn-lg" ng-click="reload()"><span class="glyphicon glyphicon-refresh"></span></button>
	<button type="button" class="btn btn-default btn-lg" ng-click="forward()"><span class="glyphicon glyphicon-arrow-right"></span></button>
</div>
<webview id="discover" src="https://www.data.gov/" style="display:block; width:100%; height:-webkit-min-content;" plugins></webview>